[user]
	name = Benjamin Altieri
	email = benaltieri@gmail.com
[alias]
	pn = "push -u"
	au = "add -u"
	bdel = "!f() { git branch -D ${1} && git push origin --delete ${1}; }; f"
[push]
	default = current
[fetch]
	prune = true
