[user]
    name = Benjamin Altieri
    email = benaltieri@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    a = "add ."
    au = "add -u"
    aup = "add -u -p"
    bdel = "!f() { git branch -D ${1}; git push origin --delete ${1}; }; f"
    bname = "rev-parse --abbrev-ref HEAD"
    bnamel = "!f() { git bname | tr '[:upper:]' '[:lower:]'; }; f"
    c = "commit -v"
    ca = "commit -av"
    chp = "cherry-pick -x"
    chpcon = "cherry-pick --continue"
    chpbort = "cherry-pick --abort"
    chsub = "!f() { cd lib/${1}; git fetch origin; git checkout ${2}; cd ../..; git add lib/${1}; }; f"
    co = "checkout"
    cob = "!f(){ git checkout -b benaltieri/$1; }; f"
    cobt = "!f(){ git checkout -b benaltieri/$(git bnamel)/$1; }; f"
    com = "!f(){ git checkout main || git checkout master; }; f"
    comp = "!f(){ git checkout main || git checkout master; git pull; }; f"
    cop = "!f(){ git checkout $1; git pull; }; f"
    copp = "!f(){ git checkout pre-production; git pull; }; f"
    conflicts = "!$EDITOR $(git diff --name-only --diff-filter=U)"
    cor = "!f(){ git checkout ${1}-release; }; f"
    corp = "!f(){ git checkout ${1}-release; git pull; }; f"
    d = "diff"
    ds = "diff --staged"
    empty = "commit --allow-empty"
    f = "push --force-with-lease"
    fix = "commit --amend -v"
    logs = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"
    m = "merge --ff-only"
    mm = "merge --ff-only -"
    p = "push"
    pf = "push --force-with-lease"
    puff = "push --force"
    pn = "push -u"
    pro = "!f(){ git pull --rebase origin $(git bname); }; f"
    prob = "!f(){ git pull --rebase origin ${1}; }; f"
    prom = "!f(){ git pull --rebase origin main || git pull --rebase origin master; }; f"
    pror = "!f(){ git pull --rebase origin ${1}-release; }; f"
    pu = "push -u"
    re = "!f(){ git rebase -i HEAD~${1}; }; f"
    recon = "rebase --continue"
    rebort = "rebase --abort"
    s = "status"
    st = "status -sb"
    sur = "submodule update --init --recursive"
    suno = "status -uno"
[push]
    default = current
[color]
    ui = 1
[help]
    autocorrect = 1
[fetch]
    prune = true
