[user]
    name = Benjamin Altieri
    email = benaltieri@gmail.com
[core]
    editor = vim
[alias]
	cob = "!f(){ git checkout -b benaltieri/$1; }; f"
	pn = "push -u"
	au = "add -u"
	bdel = "!f() { git branch -D ${1} && git push origin --delete ${1}; }; f"
    bname = "rev-parse --abbrev-ref HEAD"
    bnamel = "!f() { git bname | tr '[:upper:]' '[:lower:]'; }; f"
[push]
    default = current
[color]
    ui = 1
[help]
    autocorrect = 1
[fetch]
    prune = true
